
@media screen and (max-width: 767px)

    .card
        width: 97%
        margin: 0 auto
        
        // h1
        //     font-size: 24px
        &-body
            .list-wrapper
                img
                    width: 150px

        // .add-form
        //     .add-items-input
        //         height: 56px
        //         font-size: 16px
        //         padding-right: 40px

            .add-items-btn
                left: 38%
                bottom: 42px

                &::before
                    content: url('../images/plus.svg')

                    // left: 40%
                    // top: -15px
                    height: 40px
                    width: 40px
                &:hover
                    transform: rotate(180deg)
                    transition: all .3s

        .todo-list
            .img-wrapper
                padding-top: 40px
        .todo-list-element
            font-size: 16px
            &-trash
                i:before
                    content: url('../images/delete_m.svg')

@media screen and (max-width: 575px)
    .card
        width: 97%
        min-height: 420px
        margin: 0 auto
        &-body
            .add-items
                .add-items-input
                    height: 46px

                .add-items-btn
                    bottom: 36px
                    left: 39%
                    &::before
                        content: url('../images/plus_m.svg')
                        right: -15px
                        top: -15px
                        position: absolute
                        transition: all 1s
                        height: 30px
                        width: 30px
                    &:hover
                        transform: rotate(180deg)
                        transition: all .2s
        .todo-list
            .img-wrapper
                padding-top: 40px
        .todo-list-element
            font-size: 14px
            &-trash
                i:before
                    content: url('../images/delete_m.svg')

@media screen and (max-width: 460px)
    .container
        margin: 6px 0
    .card
        width: 96%
        min-height: 650px
        height: 100%
        h1
            font-size: 20px
        &-body
            .list-wrapper
                img
                    width: 150px

        .add-form
            .add-items-input
                height: 40px
                font-size: 14px
            .add-items-btn
                bottom: 33px
                left: 37%
                
                &::before
                    content: url('../images/plus_m.svg')
                    right: -15px
                    top: -15px
                    height: 30px
                &:hover
                    transform: rotate(180deg)
                    transition: all .3s
        .todo-list
            .img-wrapper
                padding-top: 40px
        .todo-list-element
            font-size: 14px

            &-trash
                i:before
                    content: url('../images/delete_m.svg')

    .reset-items
            i::before
                content: url('../images/refresh_m.svg')
